@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

html {
    background-color: #30362f;
    color: white;
    font-family: Poppins;
    margin-left: 20px;
}

body{
    text-align: center;
}

form {
    background-color: #625834;
    margin: 0px 400px 0px 400px;
    padding: 20px 30px;
    border-radius: 20px;
}